<div class="card  rounded border border-info mb-3">
    <h1 class="text-primary card-title">{{userName}}</h1>

  <div class="card-body">

<img  class="card-img col-lg-3 col-sm-3" src="/uploads/{{profilePicture}}" />

</div>
    



</div>