

<nav class="navbar navbar-default">
  
    <div class="navbar-header">
        <h3>Veuillez Choisir entre :</h3>
   
    <ul class="nav navbar-nav col-6">
      <li><a href='/login'>Login</a></li>
      <li><a href='/signup'>Signup</a></li>
    </ul>
  </div>
</nav>